<app-title [isBlack]="isBlack"></app-title>
<app-header [color]="color" fixed="true" *ngIf="showHeader"></app-header>

<div class="white actualite" #actualite>
  <div class="container">
    <h1>Actualité</h1>
    <p class="right-links">
      <a [routerLink]="['/actualite']">Voir plus &gt;</a>
    </p>
    <app-facebook-feed limit="1"></app-facebook-feed>
  </div>
</div>

<div class="blue concept" #concept>
  <div class="container pb-5">
    <h1>Concept</h1>
    <div class="text-justify" [innerHTML]="conceptPage" *ngIf="conceptPage"></div>
  </div>
</div>

<div class="mustard produits" #produits>
  <div class="container pb-5">
    <h1>Produits</h1>
    <div class="text-justify" [innerHtml]="menuPage" *ngIf="menuPage"></div>
  </div>
</div>

<div class="black contact" #contact id="contact">
  <div class="container">
    <h1>Contact</h1>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" class="map">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    <p class="business" itemscope itemtype="http://schema.org/LocalBusiness">
      <span itemprop="name">
        ma petite cantine
      </span>
      <span itemprop="address">
        5 Chemin du Pré-Fleuri<br />
        1228 Plan-les-Ouates
      </span>
      <span itemprop="openingHours" dateTime="Mo,Tu,We,Th,Fr 7:00-15:30">
        7h &ndash; 15h30<br />
        Du lundi au vendredi
      </span>
      <span itemprop="telephone">
        <a href="tel:+41788834590">+41 78 883 45 90</a>
      </span>
      <span itemprop="email">
        <a href="mailto:info@mapetitecantine.ch">info@mapetitecantine.ch</a>
      </span>
    </p>
  </div>
</div>