<app-title [isBlack]="isBlack"></app-title>
<app-header [color]="color" fixed="true" *ngIf="showHeader"></app-header>

<div class="white actualite" #actualite>
  <div class="container">
    <h1>Actualité</h1>
    <p class="right-links">
      <a [routerLink]="['/actualite']">Voir plus &gt;</a>
    </p>
    <app-facebook-feed limit="1"></app-facebook-feed>
  </div>
</div>

<div class="blue concept" #concept>
  <div class="container pb-5">
    <h1>Concept</h1>
    <div class="text-justify" [innerHTML]="conceptPage" *ngIf="conceptPage"></div>
  </div>
</div>

<div class="mustard produits" #produits>
  <div class="container pb-5">
    <h1>Produits</h1>
    <div class="text-justify" [innerHtml]="menuPage.content.rendered" *ngIf="menuPage && menuPage.content && menuPage.content.rendered"></div>
    <div class="row" *ngIf="menuPage">
      <div class="col-xs-12 col-sm-6" *ngIf="menuPage.acf.image_haut_gauche">
        <img [src]="menuPage.acf.image_haut_gauche.sizes.large" class="w-100">
        <p *ngIf="menuPage.acf.texte_haut_gauche">
          {{menuPage.acf.texte_haut_gauche}}
        </p>
      </div>
      <div class="col-xs-12 col-sm-6" *ngIf="menuPage.acf.image_haut_droite">
        <img [src]="menuPage.acf.image_haut_droite.sizes.large" class="w-100">
        <p *ngIf="menuPage.acf.texte_haut_droite">
          {{menuPage.acf.texte_haut_droite}}
        </p>
      </div>
      <div class="col-xs-12 col-sm-6" *ngIf="menuPage.acf.image_bas_gauche">
        <img [src]="menuPage.acf.image_bas_gauche.sizes.large" class="w-100">
        <p *ngIf="menuPage.acf.texte_bas_gauche">
          {{menuPage.acf.texte_bas_gauche}}
        </p>
      </div>
      <div class="col-xs-12 col-sm-6" *ngIf="menuPage.acf.image_bas_droite">
        <img [src]="menuPage.acf.image_bas_droite.sizes.large" class="w-100">
        <p *ngIf="menuPage.acf.texte_bas_droite">
          {{menuPage.acf.texte_bas_droite}}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="black contact" #contact id="contact">
  <div class="container">
    <h1>Contact</h1>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" class="map">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    <div class="business row" itemscope itemtype="http://schema.org/LocalBusiness">
      <div class="col-xs-12 col-sm-6">
        <span itemprop="name">
          ma petite cantine
        </span>
        <span itemprop="address">
          5 Chemin du Pré-Fleuri<br>
          1228 Plan-les-Ouates
        </span>
        <span itemprop="telephone">
          <a href="tel:+41788834590">+41 78 883 45 90</a>
        </span>
      </div>
      <div class="col-xs-12 col-sm-6">
        <br class="d-none d-sm-block">
        <span itemprop="openingHours" dateTime="Mo,Tu,We,Th,Fr 7:00-15:30">
          7h &ndash; 15h30<br>
          Du lundi au vendredi
        </span>
        <span itemprop="email">
          <a href="mailto:info@mapetitecantine.ch">info@mapetitecantine.ch</a>
        </span>
      </div>
    </div>
  </div>
</div>