<app-title></app-title>
<app-header [color]="color" [fixed]="fixed"></app-header>

<div class="white" #concept id="concept">
  <div class="container" [ngClass]="{'fixed': fixed, 'free': !fixed}">
    <h1>Concept</h1>
    <div class="text-justify" [innerHTML]="conceptPage" *ngIf="conceptPage"></div>
  </div>
</div>

<div class="blue" #menu id="menu">
  <div class="container">
    <h1>Menu</h1>
    <div class="text-justify" [innerHtml]="menuPage" *ngIf="menuPage"></div>
  </div>
</div>

<div class="mustard" #galerie id="galerie">
  <div class="container">
    <h1>Galerie</h1>
    <p class="right-links">
      <a [routerLink]="['/galerie']">Voir plus &gt;</a>
    </p>
    <app-image [picture]="picture"></app-image>
  </div>
</div>

<div class="black" #contact id="contact">
  <div class="container">
    <h1>Contact</h1>
    <div class="form">
      Une Google map
    </div>
    <p>
      5 Chemin du Pré-Fleuri<br />
      1228 Plan-les-Ouates<br />
      +41 78 883 45 90<br />
      info@mapetitecantine.ch
    </p>
  </div>
</div>