<ul [ngClass]="color">
  <li *ngIf="facebookLink">
    <a href="https://www.facebook.com/Ma-petite-cantine-1289349467835561/" target="_blank" class="btn-facebook">
      <i class="fa fa-fw fa-facebook"></i>
    </a>
  </li>
  <li *ngIf="twitterLink">
    <a href="https://www.facebook.com/Ma-petite-cantine-1289349467835561/" target="_blank" class="btn-twitter">
      <i class="fa fa-fw fa-twitter"></i>
    </a>
  </li>
  <li *ngIf="instagramLink">
    <a href="https://www.facebook.com/Ma-petite-cantine-1289349467835561/" target="_blank" class="btn-instagram">
      <i class="fa fa-fw fa-instagram"></i>
    </a>
  </li>
</ul>
