@import '../../../styles';

ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  li {
    display: inline-block;
    .btn-facebook,
    .btn-twitter,
    .btn-instagram {
      height: 30px;
      width: 30px;
      font-size: 20px;
      padding-left: 2px;
      padding-top: 2px;
      display: inline-block;
      border-radius: 100%;
      background: black;
      i {
        color: white;
      }
    }
    .btn-facebook:hover {
      background: $facebook;
    }
    .btn-twitter:hover {
      background: $twitter;
    }
    .btn-instagram:hover {
      background: $instagram;
    }
  }
}

ul.black {
  li {
    .btn-facebook,
    .btn-twitter,
    .btn-instagram {
      background: white;
      i {
        color: black;
      }
    }
    .btn-facebook:hover {
      background: $facebook;
      i {
        color: white;
      }
    }
    .btn-twitter:hover {
      background: $twitter;
      i {
        color: white;
      }
    }
    .btn-instagram:hover {
      background: $instagram;
      i {
        color: white;
      }
    }
  }
}