.full {
  height: 100vh;
  width: 100vw;
  padding: 10px;
  background: black;
}
.center-image {
  height: 100%;
  width: 100%;
  margin: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/img/logo_noir.png');
}

.header-fixed {
  padding-top: 196px;
}

.content-wrapper {
  .content {
    min-height: 100vh;
    padding-left: 380px;
    padding-top: 196px;
    padding-right: 35px;
    padding-bottom: 196px;
  }
}

.gallery {
  position: relative;
  .image {
    margin: 20px 0;
  }
  .image-container {
    cursor: pointer;
  }
  .right-links {
    position: absolute;
    top: 196px;
    left: 0;
    width: 900px;
    text-align: right;
    a {
      color: black;
    }
  }
}

.contact {
  .image {
    margin: 20px 0;
  }
}
