.content-wrapper {
  .content {
    min-height: 100vh;
    padding-left: 380px;
    padding-top: 196px;
    padding-right: 35px;
    padding-bottom: 196px;
  }
}

.gallery {
  .image {
    margin-top: 0;
  }
  .image-container {
    margin: 10px;
    cursor: pointer;
  }

  .right-links {
    position: absolute;
    right: 35px;
    top: 196px;
    a {
      color: black;
    }
  }
}
