.content-wrapper {
  .content {
    min-height: 100vh;
    padding-left: 380px;
    padding-top: 196px;
    padding-right: 35px;
    padding-bottom: 196px;
  }
}

.gallery {
  .image {
    margin-top: 0;
  }
  .image-container {
    margin: 10px;
    cursor: pointer;
  }

  .right-links {
    position: absolute;
    text-align: right;
    right: 22px;
    top: 0;
    a {
      color: black;
    }
  }
}

.gallery-width {
  position: relative;
  width: 560px;
}

@media (min-width: 1600px) {
  .gallery-width {
    position: relative;
    width: 1120px;
  }
}

@media (min-width: 2200px) {
  .gallery-width {
    position: relative;
    width: 1680px;
  }
}
