<div class="content-wrapper">
  <div class="content gallery mustard" #gallery id="gallery">
    <h1>Galerie</h1>
    <p class="right-links">
      <a [routerLink]="['/']">Home</a>
      &gt;
      <a [routerLink]="['/galerie']">Galerie</a>
    </p>
    <div class="row">
      <div class="image-container" (click)="goTo('vernissage')">
        <div class="image">
          <img src="http://via.placeholder.com/260x170" alt="520x340" title="galerie" />
        </div>
        <p>
          Vernissage<br />
          4 octobre 2017
        </p>
      </div>
      <div class="image-container" (click)="goTo('vernissage')">
        <div class="image">
          <img src="http://via.placeholder.com/260x170" alt="520x340" title="galerie" />
        </div>
        <p>
          Vernissage<br />
          4 octobre 2017
        </p>
      </div>
      <div class="image-container" (click)="goTo('vernissage')">
        <div class="image">
          <img src="http://via.placeholder.com/260x170" alt="520x340" title="galerie" />
        </div>
        <p>
          Vernissage<br />
          4 octobre 2017
        </p>
      </div>
      <div class="image-container" (click)="goTo('vernissage')">
        <div class="image">
          <img src="http://via.placeholder.com/260x170" alt="520x340" title="galerie" />
        </div>
        <p>
          Vernissage<br />
          4 octobre 2017
        </p>
      </div>
      <div class="image-container" (click)="goTo('vernissage')">
        <div class="image">
          <img src="http://via.placeholder.com/260x170" alt="520x340" title="galerie" />
        </div>
        <p>
          Vernissage<br />
          4 octobre 2017
        </p>
      </div>
      <div class="image-container" (click)="goTo('vernissage')">
        <div class="image">
          <img src="http://via.placeholder.com/260x170" alt="520x340" title="galerie" />
        </div>
        <p>
          Vernissage<br />
          4 octobre 2017
        </p>
      </div>
      <div class="image-container" (click)="goTo('vernissage')">
        <div class="image">
          <img src="http://via.placeholder.com/260x170" alt="520x340" title="galerie" />
        </div>
        <p>
          Vernissage<br />
          4 octobre 2017
        </p>
      </div>
      <div class="image-container" (click)="goTo('vernissage')">
        <div class="image">
          <img src="http://via.placeholder.com/260x170" alt="520x340" title="galerie" />
        </div>
        <p>
          Vernissage<br />
          4 octobre 2017
        </p>
      </div>
      <div class="image-container" (click)="goTo('vernissage')">
        <div class="image">
          <img src="http://via.placeholder.com/260x170" alt="520x340" title="galerie" />
        </div>
        <p>
          Vernissage<br />
          4 octobre 2017
        </p>
      </div>
      <div class="image-container" (click)="goTo('vernissage')">
        <div class="image">
          <img src="http://via.placeholder.com/260x170" alt="520x340" title="galerie" />
        </div>
        <p>
          Vernissage<br />
          4 octobre 2017
        </p>
      </div>
    </div>
  </div>
</div>
