.center-image {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/img/logo_noir.png');
}
