<div class="header {{fixed}} {{color}}">
  <a pageScroll href="#concept" [routerLink]="['/']" class="title">
    ma petite<br />cantine
  </a>
  <div class="menu">
    <a pageScroll href="#concept" [ngClass]="{'active': color == 'white'}">Concept</a>
    <a pageScroll href="#menu" [ngClass]="{'active': color == 'blue'}">Menu</a>
    <a pageScroll href="#gallery" [ngClass]="{'active': color == 'mustard'}">Galerie</a>
    <a pageScroll href="#contact" [ngClass]="{'active': color == 'black'}">Contact</a>
  </div>
  <div class="right">
    <a href="#" target="_blank">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="#" target="_blank">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="#" target="_blank">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
</div>
