.header {
  width: 100%;
  z-index: 3;
  position: relative;
  height: 86px;
  .title {
    width: 380px;
    line-height: 45pt;
    font-size: 45pt;
    position: absolute;
    top: 30px;
    left: 30px;
    color: black;
  }
  .title:hover {
    text-decoration: none;
  }
  .menu {
    position: absolute;
    left: 380px;
    top: 0;
    padding-top: 30px;
    a {
      color: black;
      padding-bottom: 2px;
      margin-right: 50px;
    }
    a:hover,
    a.active {
      text-decoration: none;
      border-bottom: solid 2px black;
    }
  }
  .right {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 35px;
    padding-top: 30px;
    font-size: 12pt;
    a {
      color: black;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

.fixed {
  position: fixed;
  top: 0;
  padding-top: 30px;
  p {
    padding-top: 0;
  }
}
