@import '~styles.scss';

.title {
  background-color: inherit;
  position: fixed;
  left: 30px;
  top: 0px;
  width: 350px;
  line-height: 45pt;
  font-size: 45pt;
  z-index: 1;
  p {
    margin-top: 30px;
  }
}

.top {
  height: 100vh;
  .image {
    @include vertical-align();
    width: 100vw;
    z-index: 2;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .image-gobelet {
    img {
      height: 467px;
    }
  }
  .image-pomme {
    img {
      height: 425px;
    }
  }
  .image-carotte {
    img {
      height: 653px;
    }
  }
  .image-poule {
    img {
      height: 530px;
    }
  }
  h1 {
    position: absolute;
    left: 30px;
    bottom: 10px;
    z-index: 0;
    font-size: 45pt;
  }
}
