/* You can add global styles to this file, and also import other style files */
$mustard: rgb(255, 201, 21);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$blue: rgb(78, 220, 202);

@font-face {
  font-family: 'PlainMed';
  src: url('/assets/fonts/Plain-Medium.ttf');
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'PlainMed', sans-serif;
}

.icon {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
