/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'PlainMed';
  src: url('/assets/fonts/Plain-Medium.ttf');
}

$mustard: rgb(255, 201, 21);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$blue: rgb(78, 220, 202);

html {
  height: 100%;
}

body {
  font-family: 'PlainMed', sans-serif;
  font-size: 20pt;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  color: black;
}

@media (min-width: 992px) {
  .container {
    max-width: 560px;
    margin: 0 auto 0 380px;
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 780px;
    margin: 0 auto 0 380px;
    padding-left: 0;
  }
}

@media (min-width: 1900px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 0;
  }
}

.app-wrapper {
  min-height: 100vh;
}

.app-wrapper.black {
  filter: invert(0%);
  .btn-facebook:hover,
  .btn-twitter:hover,
  .btn-instagram:hover {
    filter: invert(0%);
  }
}

.container {
  min-height: 100vh;
  padding-top: 158px;
}

.white,
.neutral {
  background: $white;
}
.blue {
  background: $blue;
}
.mustard {
  background: $mustard;
}
.black {
  background: $white;
  filter: invert(100%);
  .btn-facebook:hover,
  .btn-twitter:hover,
  .btn-instagram:hover {
    filter: invert(100%);
  }
}

$google: rgb(211, 72, 54);
$google-dark: rgb(201, 62, 44);
$facebook: rgb(59, 89, 152);
$facebook-dark: rgb(49, 79, 142);
$twitter: rgb(85, 172, 238);
$twitter-dark: rgb(75, 162, 228);
$linkedin: rgb(0, 123, 181);
$linkedin-dark: rgb(0, 113, 171);
$instagram:
  radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
  radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
  // left top
  radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
  radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
  //  right top
  radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
  radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
  // right bottom
  radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
  /////// create a base coat to smooth
  /////// corner gradients
  linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
