<ng-container *ngIf="feed">
  <div *ngFor="let post of feed" class="mb-5">
    <a [href]="post.link" *ngIf="post.full_picture">
      <img [src]="post.full_picture" class="w-100">
    </a>
    <p class="feed-caption">
      <ng-container *ngIf="post.story">{{post.story}}<br></ng-container>
      <ng-container>{{post.created_time | date:'longDate'}}</ng-container>
      <ng-container *ngIf="post.message">
        <br><a [href]="post.link" target="_blank">{{post.message}}</a>
      </ng-container>
    </p>
  </div>
</ng-container>
<div *ngIf="!isLoaded" class="text-center mt-5">
  <i class="fa fa-2x fa-spinner fa-pulse"></i>
</div>
<div *ngIf="isLoaded && !feed" class="text-center mt-5">
  Aucun fil d'actualité pour l'instant.
</div>