<header class="row" [ngClass]="{'fixed': fixed, 'white': color == 'white', 'blue': color == 'blue', 'mustard': color == 'mustard', 'black': color == 'black', 'neutral': color == 'neutral'}">
  <div class="col header-left">
    <h1><a routerLink="/">ma petite<br>cantine</a></h1>
  </div>
  <div class="col header-right d-none d-sm-block">
    <ul class="header-menu">
      <li>
        <a routerLink="" fragment="actualite" [ngClass]="{'active': color == 'white'}">Actualité</a>
      </li>
      <li>
        <a routerLink="" fragment="concept" [ngClass]="{'active': color == 'blue'}">Concept</a>
      </li>
      <li>
        <a routerLink="" fragment="produits" [ngClass]="{'active': color == 'mustard'}">Nos produits</a>
      </li>
      <li>
        <a routerLink="" fragment="contacts" [ngClass]="{'active': color == 'black'}">Contact</a>
      </li>
    </ul>
    <ul class="header-social">
      <li>
        <a href="https://www.facebook.com/Ma-petite-cantine-1289349467835561/" target="_blank" class="btn-facebook">
          <i class="fa fa-fw fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/Ma-petite-cantine-1289349467835561/" target="_blank" class="btn-twitter">
          <i class="fa fa-fw fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/Ma-petite-cantine-1289349467835561/" target="_blank" class="btn-instagram">
          <i class="fa fa-fw fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</header>