<header [ngClass]="color">
  <div class="header-title">
    <h1><a routerLink="/">ma petite<br>cantine</a></h1>
  </div>
  <div class="header-menu-small">
    <button class="btn btn-link" (click)="toggleMenu()">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <div class="header-dropdown" [ngClass]="color" *ngIf="showMenu">
    <h1><a routerLink="/">ma petite<br>cantine</a></h1>
    <ul>
      <li>
        <a routerLink="" fragment="actualite" [ngClass]="{'active': color == 'white'}" (click)="toggleMenu()">Actualité</a>
      </li>
      <li>
        <a routerLink="" fragment="concept" [ngClass]="{'active': color == 'blue'}" (click)="toggleMenu()">Concept</a>
      </li>
      <li>
        <a routerLink="" fragment="produits" [ngClass]="{'active': color == 'mustard'}" (click)="toggleMenu()">Nos produits</a>
      </li>
      <li>
        <a routerLink="" fragment="contact" [ngClass]="{'active': color == 'black'}" (click)="toggleMenu()">Contact</a>
      </li>
    </ul>
    <div class="inner-social">
      <app-social [color]="color"></app-social>
    </div>
  </div>
  <div class="header-menu">
    <ul>
      <li>
        <a routerLink="" fragment="actualite" [ngClass]="{'active': color == 'white'}" (click)="toggleMenu()">Actualité</a>
      </li>
      <li>
        <a routerLink="" fragment="concept" [ngClass]="{'active': color == 'blue'}" (click)="toggleMenu()">Concept</a>
      </li>
      <li>
        <a routerLink="" fragment="produits" [ngClass]="{'active': color == 'mustard'}" (click)="toggleMenu()">Nos produits</a>
      </li>
      <li>
        <a routerLink="" fragment="contact" [ngClass]="{'active': color == 'black'}" (click)="toggleMenu()">Contact</a>
      </li>
    </ul>
  </div>
  <div class="header-social">
    <app-social [color]="color"></app-social>
  </div>
</header>

<!-- <header class="row" [ngClass]="{'color': color}">
  <div class="col header-left">
    <h1><a routerLink="/">ma petite<br>cantine</a></h1>
  </div>
  <div class="col header-right d-none d-sm-block">
    <ul class="header-menu">
      <li>
        <a routerLink="" fragment="actualite" [ngClass]="{'active': color == 'white'}">Actualité</a>
      </li>
      <li>
        <a routerLink="" fragment="concept" [ngClass]="{'active': color == 'blue'}">Concept</a>
      </li>
      <li>
        <a routerLink="" fragment="produits" [ngClass]="{'active': color == 'mustard'}">Nos produits</a>
      </li>
      <li>
        <a routerLink="" fragment="contact" [ngClass]="{'active': color == 'black'}">Contact</a>
      </li>
    </ul>
    <ul class="header-social">
      <li>
        <a href="https://www.facebook.com/Ma-petite-cantine-1289349467835561/" target="_blank" class="btn-facebook">
          <i class="fa fa-fw fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/Ma-petite-cantine-1289349467835561/" target="_blank" class="btn-twitter">
          <i class="fa fa-fw fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/Ma-petite-cantine-1289349467835561/" target="_blank" class="btn-instagram">
          <i class="fa fa-fw fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</header> -->