<header class="row" [ngClass]="color">
  <div class="col header-left">
    <h1><a routerLink="/">ma petite<br>cantine</a></h1>
  </div>
  <div class="col header-right d-none d-sm-block">
    <ul class="header-menu">
      <li>
        <a pageScroll href="#concept" [ngClass]="{'active': color == 'white'}">Concept</a>
      </li>
      <li>
        <a pageScroll href="#menu" [ngClass]="{'active': color == 'blue'}">Menu</a>
      </li>
      <li>
        <a pageScroll href="#galerie" [ngClass]="{'active': color == 'mustard'}">Galerie</a>
      </li>
      <li>
        <a pageScroll href="#contact" [ngClass]="{'active': color == 'black'}">Contact</a>
      </li>
    </ul>
    <ul class="header-social">
      <li>
        <a href="#" target="_blank" class="btn-facebook">
          <i class="fa fa-fw fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="#" target="_blank" class="btn-twitter">
          <i class="fa fa-fw fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="#" target="_blank" class="btn-instagram">
          <i class="fa fa-fw fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</header>